<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <properties>
    <property name="fileName">arida.log</property>
    <property name="liveLocation">/home/arida/logs/arida.log</property>
  </properties>
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <File name="aridaLogfile" fileName="${fileName}" bufferedIO="true">
      <patternLayout pattern="%d{YYYY:MM:dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
    </File>
  </appenders>
  <loggers>
    <logger name="com.google.code.arida" level="debug" additivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="aridaLogfile" />
    </logger>
    <root level="info">
      <appender-ref ref="Console" />
    </root>
  </loggers>
</configuration>