<?xml version="1.0" encoding="utf-8"?>
<configuration debug="true">
  <contextName>arida</contextName>
  <property name="logLevel" value="info" />
  <if condition='property("HOSTNAME").contains("stg")'>
    <then>
      <property name="logLevel" value="debug" />
    </then>
  </if>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="LOGFILE" class="ch.qos.logback.core.RollingFileAppender">
    <file>arida.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>arida.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>10</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>300MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
  </appender>
  <logger name="com.google.code.arida" level="${logLevel}" />
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOGFILE" />
  </root>
</configuration>